.header
  grid-column: span 2
  padding: 0 20px
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid #414144
  background-color: #27272A

.navigation
  display: flex
  align-items: center
  gap: 28px
  height: 100%

.buttons
  display: flex
  gap: 20px

.links
  display: flex
  align-self: stretch
  padding-top: 14px
  gap: 24px
  a
    color: #a1a1aa
    font-size: 14px
  a.active
    color: #fff
    border-bottom: 2px solid #fff

.user
  display: flex
  align-items: center
  cursor: pointer
  .photo
    width: 28px
    height: 28px
    border-radius: 50%
    object-fit: cover
    margin-right: 8px
  .name
    font-size: 14px