.header, .row
  display: grid
  grid-template-columns: minmax(150px, max-content) 1fr repeat(4, 200px)
  border-bottom: 1px solid#414144

.attribute
  padding: 0 0 12px 12px
  font-size: 14px
  color: #A1A1AA
  min-width: 160px

.cell
  height: 60px
  padding: 0 12px
  display: flex
  align-items: center
  font-size: 14px
  white-space: nowrap
  text-overflow: ellipsis
  min-width: 160px

.icons
  padding: 6px
  border-radius: 6px
  display: flex
  gap: 12px
  img
    line-height: 1
    z-index: 1

.secondIcon
  display: none

.icons_hovered
  cursor: pointer
  z-index: 2
  &:hover
    background-color: #414144
    .secondIcon
      display: block

.input
  padding: 10px
  width: 100%
  background-color: transparent
  border: 1px solid #414144
  border-radius: 6px
  color: #fff
  &:placeholder
    color: #71717A
  &:disabled
    padding: 0
    border: none
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    display: none
    -webkit-appearance: none
    margin: 0

input[type='number']
  -moz-appearance: textfield

.plug_cell
  grid-column: span 3

.group
  position: relative

.depth
  --line-left: 35px
  &::before
    content: ''
    position: absolute
    height: 100%
    top: -30px
    border-left: 1px solid #c6c6c6
    pointer-events: none
    z-index: 1
  &::before
    left: var(--line-left)
  &::after
    content: ''
    position: absolute
    border-bottom: 1px solid #c6c6c6
    top: 30px
    width: 15px
    left: var(--line-left)
    z-index: 1
