.header, .row
  display: grid
  grid-template-columns: 110px 1fr repeat(4, 200px)
  border-bottom: 1px solid#414144

.row
  &:last-child
    border-bottom: none

.attribute
  padding: 0 0 12px 12px
  font-size: 14px
  color: #A1A1AA

.cell
  height: 60px
  padding: 0 12px
  display: flex
  align-items: center
  font-size: 14px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.icons
  padding: 2px 3px
  background-color: #414144
  border-radius: 6px
  display: flex
  cursor: pointer
  img
    line-height: 1

.input
  padding: 10px
  width: 100%
  background-color: transparent
  border: 1px solid #414144
  border-radius: 6px
  color: #fff
  &:placeholder
    color: #71717A
  &:disabled
    padding: 0
    border: none
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    display: none
    -webkit-appearance: none
    margin: 0

input[type='number']
  -moz-appearance: textfield